<!DOCTYPE html>
<html lang="{{ .Language.Lang }}" prefix="og: https://ogp.me/ns#" itemscope itemtype="https://schema.org/WebPage">
<head>
  {{ $css := resources.Get "css/main.css" | resources.Minify }}<link rel="stylesheet" href="{{ $css.RelPermalink }}">
  {{ partial "site-head.html" . }}
</head>
<body class="lang-{{ .Language.Lang }}{{ if .IsHome }} home{{ end }}">
  <a class="skip-link" href="#main">{{ i18n "skip_to_content" }}</a>
  {{ partial "site-header.html" . }}
  <main id="main">
    {{ block "main" . }}{{ .Content }}{{ end }}
  </main>
  {{ partial "site-footer.html" . }}
  {{ $js := resources.Get "js/main.js" | resources.Minify }}<script src="{{ $js.RelPermalink }}" defer></script>
</body>
</html>
